<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd"
       default-lazy-init="false">

    <description>Spring bo配置</description>
    <!-- 组织结构管理(供应商与采购商统一管理)  -->
    <bean id="organizationBO" class="com.qeweb.sysmanage.purview.bo.OrganizationBO" scope="prototype"/>
    <!-- 采购商管理  -->
    <bean id="buyerBO" class="com.qeweb.sysmanage.purview.bo.org.BuyerBO" scope="prototype"/>
    <!-- 供应商管理  -->
    <bean id="vendorBO" class="com.qeweb.sysmanage.purview.bo.org.VendorBO" scope="prototype"/>

    <bean id="userBO" class="com.qeweb.sysmanage.purview.bo.UserBO" scope="prototype"/>


    <bean id="ExeBOMethod" class="com.qeweb.framework.app.pageflow.ExeBOMethod" scope="prototype"/>

    <bean id="msgService" class="com.qeweb.framework.common.msgctx.MsgServiceImpl" scope="prototype"/>

    <bean id="userCtx" class="com.qeweb.framework.common.userctx.UserContextImpl" scope="prototype"/>


</beans>