<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="byName" >
	<bean id="BaseDao" class="com.qeweb.framework.base.impl.BaseDaoHibImpl" scope="prototype">
		<property name="hibernateTemplate" ref="hibernateTemplate_bis" />
	</bean>

	<bean id="JDBCDao" class="com.qeweb.framework.base.impl.BaseDaoJDBCImpl" scope="prototype">
		<property name="jdbcTemplate" ref="frameworkJDBCTemplate" />
	</bean>

	<bean id="XmlDao" class="com.qeweb.framework.base.impl.XmlDaoImpl" scope="prototype"></bean>
</beans>