<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!--******************* commons 公用bop start *******************-->
	<!-- 省、市、区、街道 -->
	<bean id="province" class="com.qeweb.framework.frameworkbop.ProvinceBOP" scope="prototype"/>
	<bean id="city" class="com.qeweb.framework.frameworkbop.CityBOP" scope="prototype"/>
	<bean id="area" class="com.qeweb.framework.frameworkbop.AreaBOP" scope="prototype"/>
	<bean id="street" class="com.qeweb.framework.frameworkbop.StreetBOP" scope="prototype"/>
	<bean id="notEmptyBOP" class="com.qeweb.framework.frameworkbop.NotEmptyBop" scope="prototype"/>
	<!-- 手机端Bop  -->
	<bean id="camera" class="com.qeweb.framework.bc.sysbop.mobilebop.Camera" scope="prototype"/>
	<!--******************* commons 公用bop end *******************-->
</beans>